*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    text-align: center;
}

html,body{
    height: 100%;
    width:100%;
}

#main{
    height: 100%;
    width: 100%;
}

#header{
    width:100%;
    height:10%;
    background-color: rgb(35, 67, 156);
    display: flex;
    align-items: center;
    justify-content: center;
}

#header h1{
    color: white;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}

#scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 5rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

#message{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}